/build/
/app/build/
*.iml
.idea/
.gradle/
local.properties
server/data/state.json
server/data/files.json
server/data/music.json
server/data/files/*
server/data/music/*
app/src/main/cpp/freetype/libfreetype.a
app/src/main/cpp/live2d/Core/lib/
app/src/main/cpp/freetype/.freetype-build/
*.apk
.git/
